<div id="search">
  <%= form_for @search, :url => movies_search_path(@search) do |f| %>
    <%= f.text_field :name_contains, :id => "search-field", :class => "blink search-field" %>
    <%= f.submit "SEARCH", :class => "search-button", :name => nil %>
	<% end %>
</div>
