<% content_for :right do %>
 <div class="indent">
 <h4>Details</h4>
 	<ul class="p3">
 		<li><%= link_to "Overview", auto_car_path(@car) %></li>
 		<li><%= link_to "Pictures", auto_car_pictures_path(@car) %></li>
 		<li><%= link_to "Options", auto_car_options_path(@car) %></li>
 		<li><%= link_to "User reviews", auto_car_reviews_path(@car) %></li>
 	</ul>
 	</div>
 <% end %>