<div class="box">
  <div class="head">
    <h2>LATEST</h2>
    <p class="text-right"><%= link_to "See all", movies_latest_path %></p>
  </div>
  <% for movie in @movies.recent %>
  <div class="movie">
    <div class="movie-image"><span class="name"><%= movie.name %></span>
      <%= image_tag(movie.pictures.first.image.url, :width => 152) %>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in"> </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <% end %>
  <div class="cl">&nbsp;</div>
</div>