<div class="right_content">
		<div class="shopping_cart">
    	<div class="cart_title">Shopping cart</div>
        
        <div class="cart_details">
        3 items <br />
        <span class="border_cart"></span>
        Total: <span class="price">350$</span>
        </div>
        
        <div class="cart_icon"><a href="#" title="header=[Checkout] body=[&nbsp;] fade=[on]"><img src="/images/store/shoppingcart.png" alt="" title="" width="48" height="48" border="0" /></a></div>
    
    </div>


 <div class="title_box">Whats new</div>  
 <div class="border_box">
     <div class="product_title"><a href="details.html">Motorola 156 MX-VL</a></div>
     <div class="product_img"><a href="details.html"><img src="/images/store/p2.gif" alt="" title="" border="0" /></a></div>
     <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
 </div>  
 
 
 
<div class="title_box">Manufacturers</div>

    <ul class="left_menu">
    <li class="odd"><a href="services.html">Sony</a></li>
    <li class="even"><a href="services.html">Samsung</a></li>
     <li class="odd"><a href="services.html">Daewoo</a></li>
    <li class="even"><a href="services.html">LG</a></li>
     <li class="odd"><a href="services.html">Fujitsu Siemens</a></li>
     <li class="even"><a href="services.html">Motorola</a></li>
    <li class="odd"><a href="services.html">Phillips</a></li>
    <li class="even"><a href="services.html">Beko</a></li>
    </ul>      
 
 <div class="banner_adds">
 
 <a href="#"><img src="/images/store/bann1.jpg" alt="" title="" border="0" /></a>
 </div>        
 
</div><!-- end of right content -->  