<div id="search">
  <form action="#" method="post">
    <fieldset>
      <legend>Site Search</legend>
      <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
      <input type="submit" name="go" id="go" value="Search" />
    </fieldset>
  </form>
</div>