<%= content_for :page do %>
	<body id="page3">
<% end %>
<div class="indent">
	<h2>Our Services</h2>
	<div class="wrapper indent-bot">
		<div class="col-3">
			<div class="wrapper">
				<figure class="img-indent4"><%= link_to image_tag("page3-img1.png"), auto_path %></figure>
				<div class="extra-wrap">
					<h6>Auto</h6>
					Lorem ipsum dolor sit amet, consectetur adipisicing eitseo eiusmod tempor incididunt ut labore et<br> dolore magna aliqua.
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="wrapper">
				<figure class="img-indent3"><%= link_to image_tag("page3-img2.png"), movies_path %></figure>
				<div class="extra-wrap">
					<h6>Movies</h6>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper indent-bot2">
		<div class="col-3">
			<div class="wrapper">
				<figure class="img-indent3"><img src="images/page3-img3.png" alt="" /></figure>
				<div class="extra-wrap">
					<h6>Banking</h6>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum enean nisi nulla, tempor non lobortis et, consequat quis tellus dolore.
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="wrapper">
				<figure class="img-indent"><img src="images/page3-img4.png" alt="" /></figure>
				<div class="extra-wrap">
					<h6>Tax Services</h6>
					Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia cillum enean nisi nulla voluptas.
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper p3">
		<div class="col-3">
			<div class="wrapper">
				<figure class="img-indent3"><img src="images/page3-img5.png" alt="" /></figure>
				<div class="extra-wrap">
					<h6>Insurance</h6>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="wrapper">
				<figure class="img-indent"><img src="images/page3-img6.png" alt="" /></figure>
				<div class="extra-wrap">
					<h6>Coaching</h6>
					Sit aspernatur aut odit aut fugit, sed quia conse<br>quuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
				</div>
			</div>
		</div>
	</div>
</div>